@model IEnumerable<Stor_System.Models.ProductsModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    string[] Product_Role_DTL = Accessor.HttpContext.Session.GetString("Product_Role_DTL").Split(",");
}
<style>
    .product-card {
         border: 2px solid ; 
        padding: 10px;
        text-align: center;
        
        border-radius: 5px
    }

        .product-card img {
            max-width: 100%;
            height: 77px;
            width: 109px;
           /*  float: right; */
        }

    .product-title {
        font-weight: bold;
        margin-top: 10px;
        height: 46px;
    }

    .product-details {
        margin-top: 5px;
    }

    .F_PH::placeholder {
        color: #c9c8c8; /* Adjust the placeholder color if needed */
    }

    .DDL {
        text-align: center
    }
</style>



<div class="container-fluid">

    <div class="row">
        <div class="col-8">
            <h2 style="font-size: 2.188rem;">Products</h2>
        </div>
        @{
            if (Product_Role_DTL[1]==" C")
            {
                <div class="col-3">
                    <a href="~/ProductsModels/Create" style="float: right;"><i class="fa fa-plus"></i>&nbsp; Add New Products </a>
                </div>
            }
        }
        
    </div>

    <div style="margin-bottom: 25px;">
        <a href="/Home/index" class="card-description" style="color: #b66dff;"><code>Dashboard</code> </a> /
        <a href="/ProductsModels/index" class="card-description" style="color: #b66dff;"><code>Products</code> </a>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="row justify-content-center text-center">
                <div class="col-lg-3" style="margin-bottom:15px">
                    @Html.DropDownList("CategoryId", null, "...... Select Category ......", htmlAttributes: new { @class = "form-control mx-auto DDL", id = "CategoryId"})
                </div>
                <div class="col-lg-3" style="margin-bottom:15px">
                    @Html.DropDownList("BrandId", null, "...... Select Brand ......", htmlAttributes: new { @class = "form-control mx-auto DDL" , id = "BrandId"})
                </div>
                <div class="col-lg-4" style="margin-bottom:15px">
                    <input type="text" placeholder="Search By Name" class="form-control mx-auto F_PH" />
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="productContainer">
        @foreach (var item in Model)
        {
            string backgroundColor = item.QStatus > 0 ? "#ffffff" : item.QStatus <= 0 ? "#ffefef" : "#ffefef";
            string BorderColor = item.QStatus > 0 ? "#2cb12c" : item.QStatus <= 0 ? "#b31c1c" : "#b31c1c";

            <div class="col-lg-3 product-card-container" data-brand="@item.BrandId" data-category="@item.CategoryId" style="margin-bottom: 15px;">
                <div class="product-card" style="background-color:@backgroundColor; border-color:@BorderColor">
                    <div class="row">
                        <div style="flex: 0 0 25%; max-width: 25%;"></div>
                        <div style="flex: 0 0 50%; max-width: 50%;">
                            @if (item.ImagePath == "")
                            {
                                <img src="~/A_Stor_System/assets/images/Icons/Equipments.png" alt="Product Image">
                            }
                            else
                            {
                                <img src="~/a_stor_system/assets/images/products/@item.ImagePath" alt="Product Image">
                            }
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-title"><h3 style="font-size:22px;">@item.ProductName</h3></div>
                        <div class="product-details">
                            <div style="font-size:larger">Quantity: @item.Quantity Units  |  Available: @item.QStatus</div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            if (Product_Role_DTL[0] == "L")
                            {
                                <div style="flex: 0 0 50%; max-width: 50%;">
                                    <a asp-controller="ProductsDetailsN" asp-action="Index" asp-route-id="@item.ProductId"> <img src="~/a_stor_system/assets/images/icons/list.png" style="width:20px;height:20px;float: left;" /></a>
                                </div>
                            }
                        }

                        
                        @{
                            if (Product_Role_DTL[2] == " E")
                            {
                                <div style="flex: 0 0 50%; max-width: 50%;">
                                    <a asp-controller="ProductsModels" asp-action="Edit" asp-route-id="@item.ProductId"> <img src="~/a_stor_system/assets/images/icons/GEdit.png" style="width:20px;height:20px;float: right;" /></a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(function () { $('#CategoryId').on('change', function () { $('input[name=Cat_Id]').val($(this).val()); }); });
    $(function () { $('#BrandId').on('change', function () { $('input[name=Bra_Id]').val($(this).val()); }); });
    $(function () { $('#InventoryId').on('change', function () { $('input[name=Inv_Id]').val($(this).val()); }); });
</script>

<script>
    $(document).ready(function () {
        // Function to filter products based on selected criteria
        function filterProducts() {
            var selectedCategory = $('#CategoryId').val();
            var selectedBrand = $('#BrandId').val();
            var selectedInventory = $('#InventoryId').val();
            var searchName = $('.F_PH').val().toLowerCase();

            console.log(selectedCategory + selectedBrand + selectedInventory)

            $('.product-card-container').each(function () {
                var productCategory = $(this).data('category');
                var productBrand = $(this).data('brand');
                var productInventory = $(this).data('inventory');
                var productName = $(this).find('.product-title h3').text().toLowerCase();

                var categoryMatch = (selectedCategory === "" || productCategory == selectedCategory);
                var brandMatch = (selectedBrand === "" || productBrand == selectedBrand);
                var inventoryMatch = (selectedInventory === "" || productInventory == selectedInventory);
                var nameMatch = (searchName === "" || productName.includes(searchName));

                if (categoryMatch && brandMatch && inventoryMatch && nameMatch) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        // Event listeners for the dropdowns and search box
        $('#CategoryId, #BrandId, #InventoryId').change(function () {
            filterProducts();
        });

        $('.F_PH').keyup(function () {
            filterProducts();
        });

        // Initial filtering on page load
        filterProducts();
    });

</script>
