@model IEnumerable<Stor_System.Models.ProductsModel>
<style>
    .product-card {
        /* border: 1px solid #000; */
        padding: 10px;
        text-align: center;
        background-color: white;
        box-shadow: 0 -4px 11px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px
    }

        .product-card img {
            max-width: 100%;
            height: 77px;
            width: 109px;
            /*  float: right; */
        }

    .product-title {
        font-weight: bold;
        margin-top: 10px;
        height: 46px;
    }

    .product-details {
        margin-top: 5px;
    }

    .F_PH::placeholder {
        color: #c9c8c8; /* Adjust the placeholder color if needed */
    }

    .DDL {
        text-align: center
    }
</style>



<style>
    .container {
        display: flex;
        align-items: center;
    }

    button {
        width: 30px;
        height: 30px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }

    input[type="number"] {
        width: 60px;
        height: 30px;
        text-align: center;
        font-size: 16px;
        margin: 0 10px;
    }

    .quantity-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .decrease-btn, .increase-btn {
        width: 30px;
        height: 30px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }

    .basket{
        position: fixed;
        bottom: 10%;
        right: 2%;
        width: fit-content;
        text-align: center;
        padding: 10px;
        z-index: 1000; 
        border-style:solid;
        border-radius:5px;
        padding:10px;
        background-color: #f2edf3;
        
        
    }


</style>



<div id="logProductIds" class="basket">
    <div class="container">
        <div class="row pt-3">
            <div class="col-6" style="display:none">
                <input type="text" class="form-control" id="notificationInput" autocomplete="off"/>
            </div>
            <div class="col-3">
                <img src="~/a_stor_system/assets/images/icons/send.png" width="50" id="sendButton" />
            </div>
        </div>

        <div class="nav-item dropdown" style="display:none">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="notificationBell"> <i class="bi bi-bell"></i><span id="notificationCounter"></span></span>
            </a>
            <ul class="dropdown-menu notification-menu" id="messageList" aria-labelledby="navbarDropdown">
            </ul>
        </div>
    </div>
</div>


<form asp-action="CreateProject" method="post" enctype="multipart/form-data" id="Form1">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h2 style="font-size: 2.188rem;">Create New Request</h2>
            </div>
        </div>

        <div style="margin-bottom: 25px;">
            <a href="/Home/index" class="card-description" style="color: #b66dff;"><code>Dashboard</code> </a> /
            <a href="/ProductsModels/Project" class="card-description" style="color: #b66dff;"><code>Create New Request</code> </a>
        </div>



        @* <div class="row" style="margin-bottom:20px">
            <div style="flex: 0 0 49%; max-width: 49%; text-align: center;  border-style: solid;padding-top: 5px;border-radius: 8px;  margin-right:5px; background-color: #6c7293;cursor:pointer ; color:#FFFF" id="btn1">
                <h5 class="B_btn_text">Project Info</h5>
            </div>
            <div style="flex: 0 0 49%; max-width: 49%; text-align: center;  border-style: solid;padding-top: 5px;border-radius: 8px;  cursor:pointer" id="btn2">
                <h5 class="B_btn_text">Project Equipment</h5>
            </div>
        </div> *@



        <div class="row" id="div1">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">Project Name</label>
                                            <input name="ProjectName" class="form-control" id="ProjectName_Input" />
                                            <span class="text-danger" id="ProjectName_Alert" style="display:none">* Project Name IS Required</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">Address</label>
                                            <input name="ProjectLocation" class="form-control" id="ProjectLocation_Input" />
                                            <span class="text-danger" id="ProjectLocation_Alert" style="display:none">* Address IS Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">Start Date</label>
                                            <input name="StartDate" class="form-control" type="date" id="StartDate_Input" />
                                            <span class="text-danger" id="StartDate_Alert" style="display:none">* Start Date IS Required</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label">End Date</label>
                                            <input name="EndDate" class="form-control" type="date" id="EndDate_Input" />
                                            <span class="text-danger" id="EndDate_Alert" style="display:none">* End Date IS Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <textarea name="ProjectDescription" class="form-control" style="height: 115px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <input type="submit" value="Add" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    





    @* <div class="container-fluid" id="div2" style="display:none">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-3" style="margin-bottom:15px">
                        @Html.DropDownList("CategoryId", null, "...... Select Category ......", htmlAttributes: new { @class = "form-control mx-auto DDL", id = "CategoryId"})
                    </div>
                    <div class="col-lg-3" style="margin-bottom:15px">
                        @Html.DropDownList("BrandId", null, "...... Select Brand ......", htmlAttributes: new { @class = "form-control mx-auto DDL" , id = "BrandId"})
                    </div>
                    <div class="col-lg-4" style="margin-bottom:15px">
                        <input type="text" placeholder="Search By Name" class="form-control mx-auto F_PH" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="productContainer">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 product-card-container" data-brand="@item.BrandId" data-category="@item.CategoryId" style="margin-bottom: 15px;">
                    <div class="product-card">
                        <div class="row">
                            <div style="flex: 0 0 25%; max-width: 25%;"></div>
                            <div style="flex: 0 0 50%; max-width: 50%;">
                                @if (item.ImagePath == "")
                                {
                                    <img src="~/A_Stor_System/assets/images/Icons/Equipments.png" alt="Product Image">
                                }
                                else
                                {
                                    <img src="~/a_stor_system/assets/images/products/@item.ImagePath" alt="Product Image">
                                }
                            </div>
                            <div style="flex: 0 0 25%; max-width: 25%;">
                                @if (@item.QStatus > 0)
                                {
                                    <img src="~/a_stor_system/assets/images/Icons/Rightcheck.png" alt="Product Image" style="width:50px;height:45px">
                                }
                                else
                                {
                                    <img src="~/a_stor_system/assets/images/Icons/letter-x.png" alt="Product Image" style="width:50px;height:45px">
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="product-title"><h3 style="font-size:20px;font-weight:bold">@item.ProductName</h3></div>
                            <div class="product-details">
                                <div>Quantity: <span>@item.Quantity</span> Units | Available: @item.QStatus - @item.ProductId</div>
                            </div>
                            <div class="quantity-controls">
                                <img id="decrease-@item.ProductId" src="~/A_Stor_System/assets/images/Icons/minus.png" alt="Product Image" style="width:25px; height:25px;cursor:pointer">
                                <input type="number" id="quantity-input-@item.ProductId" value="0" min="0" max="@item.QStatus" readonly class="form-control" />
                                <img id="increase-@item.ProductId" src="~/A_Stor_System/assets/images/Icons/plus.png" alt="Product Image" style="width:25px; height:25px;cursor:pointer">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

       
        <input type="hidden" id="productIds" name="Produts_Id_List" /><br />
        <input type="hidden" id="quantities" name="Produts_Qu_List" />

    </div> *@
</form>













<script src="~/js/signalr.js"></script>
<script src="~/js/notification.js" asp-append-version="true"></script>
<script src="~/js/signalr.js"></script>
<script src="~/js/signalr.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/userscount.js"></script>
<script src="~/js/notification.js"></script>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/js/project.js"></script>


